Node-Red/Flows/Control Panel.json
[{"id":"7eed2359.f51b6c","type":"tab","label":"Control panel","disabled":false,"info":""},{"id":"6f0f890d.583b58","type":"comment","z":"7eed2359.f51b6c","name":"RELAYS","info":"","x":120,"y":460,"wires":[]},{"id":"296c1287.c5269e","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 1","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.1.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.1.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":600,"wires":[["593ad77b.d428a8"]]},{"id":"d658ddad.5f172","type":"inject","z":"7eed2359.f51b6c","name":"relay 1 on","topic":"","payload":"set.relay.1.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["296c1287.c5269e"]]},{"id":"49793b6d.519e94","type":"inject","z":"7eed2359.f51b6c","name":"relay 5 on","topic":"","payload":"set.relay.5.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["80e5eb71.a2da58"]]},{"id":"1a65ad0b.6da2e3","type":"inject","z":"7eed2359.f51b6c","name":"relay 4 on","topic":"","payload":"set.relay.4.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["339ceb41.d6bd24"]]},{"id":"7effbe5c.4703a","type":"inject","z":"7eed2359.f51b6c","name":"relay 6 on","topic":"","payload":"set.relay.6.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1260,"wires":[["d2bd02c3.b5f9d"]]},{"id":"82a5d3cc.fd3fc","type":"inject","z":"7eed2359.f51b6c","name":"relay 3 on","topic":"","payload":"set.relay.3.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["be8fc22.66a2c4"]]},{"id":"f3fc3c1f.5862c","type":"inject","z":"7eed2359.f51b6c","name":"relay 2 on","topic":"","payload":"set.relay.2.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["98f173e8.2c591"]]},{"id":"776f724b.1e494c","type":"inject","z":"7eed2359.f51b6c","name":"relay 1 off","topic":"","payload":"set.relay.1.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["296c1287.c5269e"]]},{"id":"7d360845.41d808","type":"inject","z":"7eed2359.f51b6c","name":"relay 2 off","topic":"","payload":"set.relay.2.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["98f173e8.2c591"]]},{"id":"b16385df.43e1e8","type":"inject","z":"7eed2359.f51b6c","name":"relay 3 off","topic":"","payload":"set.relay.3.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["be8fc22.66a2c4"]]},{"id":"4debaf76.54cdb","type":"inject","z":"7eed2359.f51b6c","name":"relay 4 off","topic":"","payload":"set.relay.4.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1020,"wires":[["339ceb41.d6bd24"]]},{"id":"71c578d3.9e9af8","type":"inject","z":"7eed2359.f51b6c","name":"relay 5 off","topic":"","payload":"set.relay.5.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1160,"wires":[["80e5eb71.a2da58"]]},{"id":"99d16a2c.fac358","type":"inject","z":"7eed2359.f51b6c","name":"relay 6 off","topic":"","payload":"set.relay.6.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1300,"wires":[["d2bd02c3.b5f9d"]]},{"id":"98f173e8.2c591","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 2","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.2.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.2.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":740,"wires":[["593ad77b.d428a8"]]},{"id":"be8fc22.66a2c4","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 3","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.3.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.3.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":880,"wires":[["593ad77b.d428a8"]]},{"id":"339ceb41.d6bd24","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 4","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.4.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.4.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":1020,"wires":[["593ad77b.d428a8"]]},{"id":"80e5eb71.a2da58","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 5","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.5.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.5.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":1160,"wires":[["593ad77b.d428a8"]]},{"id":"d2bd02c3.b5f9d","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Relay 6","tooltip":"","group":"d7ed0ba7.d12438","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.relay.6.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.relay.6.0","offvalueType":"str","officon":"close","offcolor":"","x":320,"y":1300,"wires":[["593ad77b.d428a8"]]},{"id":"42777d3a.2f74d4","type":"serial out","z":"7eed2359.f51b6c","name":"Serial Out","serial":"73b6393f.9a3cf8","x":900,"y":1300,"wires":[]},{"id":"ea89693b.a4c0d8","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1220,"wires":[]},{"id":"c1b721ba.b1b15","type":"comment","z":"7eed2359.f51b6c","name":"LEDS","info":"","x":110,"y":1500,"wires":[]},{"id":"e646d091.983db","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 1","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.1.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.1.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":1620,"wires":[["ebff965f.2e7608"]]},{"id":"2a38f41c.67f4ec","type":"inject","z":"7eed2359.f51b6c","name":"led 1 on","topic":"","payload":"set.led.1.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1580,"wires":[["e646d091.983db"]]},{"id":"60afa75a.431c18","type":"inject","z":"7eed2359.f51b6c","name":"led 5 on","topic":"","payload":"set.led.5.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2140,"wires":[["186edcb4.93d853"]]},{"id":"8872b586.431468","type":"inject","z":"7eed2359.f51b6c","name":"led 4 on","topic":"","payload":"set.led.4.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2000,"wires":[["5535eae5.a84124"]]},{"id":"d9527263.44d77","type":"inject","z":"7eed2359.f51b6c","name":"led 6 on","topic":"","payload":"set.led.6.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2280,"wires":[["6a84ec50.557474"]]},{"id":"7a61a657.083078","type":"inject","z":"7eed2359.f51b6c","name":"led 3 on","topic":"","payload":"set.led.3.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1860,"wires":[["148d3504.2e509b"]]},{"id":"b52f002c.83dc3","type":"inject","z":"7eed2359.f51b6c","name":"led 2 on","topic":"","payload":"set.led.2.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1720,"wires":[["33c677d0.700b38"]]},{"id":"6394915a.510cc","type":"inject","z":"7eed2359.f51b6c","name":"led 1 off","topic":"","payload":"set.led.1.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1620,"wires":[["e646d091.983db"]]},{"id":"52353109.cb614","type":"inject","z":"7eed2359.f51b6c","name":" led 2 off","topic":"","payload":"set.led.2.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1760,"wires":[["33c677d0.700b38"]]},{"id":"3c1c601c.3f94b","type":"inject","z":"7eed2359.f51b6c","name":"led 3 off","topic":"","payload":"set.led.3.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1900,"wires":[["148d3504.2e509b"]]},{"id":"8a357bc8.ae0608","type":"inject","z":"7eed2359.f51b6c","name":"led 4 off","topic":"","payload":"set.led.4.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2040,"wires":[["5535eae5.a84124"]]},{"id":"72fd938a.36a93c","type":"inject","z":"7eed2359.f51b6c","name":"led 5 off","topic":"","payload":"set.led.5.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2180,"wires":[["186edcb4.93d853"]]},{"id":"a6ea66bc.9efa98","type":"inject","z":"7eed2359.f51b6c","name":"led 6 off","topic":"","payload":"set.led.6.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2320,"wires":[["6a84ec50.557474"]]},{"id":"33c677d0.700b38","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 2","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.2.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.2.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":1760,"wires":[["ebff965f.2e7608"]]},{"id":"148d3504.2e509b","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 3","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.3.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.3.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":1900,"wires":[["ebff965f.2e7608"]]},{"id":"5535eae5.a84124","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 4","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.4.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.4.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":2040,"wires":[["ebff965f.2e7608"]]},{"id":"186edcb4.93d853","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 5","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.5.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.5.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":2180,"wires":[["ebff965f.2e7608"]]},{"id":"6a84ec50.557474","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 6","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.6.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.6.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":2320,"wires":[["ebff965f.2e7608"]]},{"id":"9e2d6fd9.f09f2","type":"serial out","z":"7eed2359.f51b6c","name":"Serial Out","serial":"73b6393f.9a3cf8","x":840,"y":2600,"wires":[]},{"id":"2fe337b7.65b968","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":2540,"wires":[]},{"id":"ac9a0e66.a36ab","type":"inject","z":"7eed2359.f51b6c","name":"led 7 on","topic":"","payload":"set.led.7.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2420,"wires":[["fb5b71f3.87736"]]},{"id":"df6b7201.e0843","type":"inject","z":"7eed2359.f51b6c","name":"led 8 on","topic":"","payload":"set.led.8.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2560,"wires":[["cebdcaf7.054708"]]},{"id":"4c16f480.834cac","type":"inject","z":"7eed2359.f51b6c","name":"led 7 off","topic":"","payload":"set.led.7.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2460,"wires":[["fb5b71f3.87736"]]},{"id":"4e8ce3bc.93cbec","type":"inject","z":"7eed2359.f51b6c","name":"led 8 off","topic":"","payload":"set.led.8.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2600,"wires":[["cebdcaf7.054708"]]},{"id":"fb5b71f3.87736","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 7","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.7.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.7.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":2460,"wires":[["ebff965f.2e7608"]]},{"id":"cebdcaf7.054708","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"led 8","tooltip":"","group":"d3cd7b85.86b8a8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"set.led.8.1","onvalueType":"str","onicon":"check","oncolor":"","offvalue":"set.led.8.0","offvalueType":"str","officon":"close","offcolor":"","x":310,"y":2600,"wires":[["ebff965f.2e7608"]]},{"id":"66460083.62247","type":"comment","z":"7eed2359.f51b6c","name":"RGB","info":"","x":1110,"y":440,"wires":[]},{"id":"76542398.4fc20c","type":"function","z":"7eed2359.f51b6c","name":"","func":"if(msg.payload.l == 1)\n{\n    msg.payload = \"set.rgb.7\";\n    return msg;\n}\nelse if(msg.payload.l === 0)\n{\n    msg.payload = \"set.rgb.0\";\n    return msg;\n}\nelse if(msg.payload.h < 30)\n{\n    msg.payload = \"set.rgb.4\";\n    return msg;\n}\nelse if(msg.payload.h < 90)\n{\n    msg.payload = \"set.rgb.6\";\n    return msg;\n}\nelse if(msg.payload.h < 150)\n{\n    msg.payload = \"set.rgb.2\";\n    return msg;\n}\nelse if(msg.payload.h < 210)\n{\n    msg.payload = \"set.rgb.3\";\n    return msg;\n}\nelse if(msg.payload.h < 270)\n{\n    msg.payload = \"set.rgb.1\";\n    return msg;\n}\nelse if(msg.payload.h < 330)\n{\n    msg.payload = \"set.rgb.5\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1570,"y":540,"wires":[["7906aa15.21fd04","31e75a14.b03176"]]},{"id":"7906aa15.21fd04","type":"serial out","z":"7eed2359.f51b6c","name":"Serial Out","serial":"73b6393f.9a3cf8","x":1720,"y":540,"wires":[]},{"id":"31e75a14.b03176","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":600,"wires":[]},{"id":"d860d832.960fa8","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"MASTER","tooltip":"","group":"7702311e.7fa0b","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"master","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":180,"wires":[["da791ad7.e5e2b8","15dbdf16.243011"]]},{"id":"d87afce6.7967d","type":"comment","z":"7eed2359.f51b6c","name":"MASTER SWITCH","info":"TURN ON FOR CONTROL PANEL USE","x":170,"y":120,"wires":[]},{"id":"da791ad7.e5e2b8","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:MASTER GET","func":"if(msg.topic === \"master\" && msg.payload === true)\n{\n    msg.payload = \"master on\";\n    msg.topic = \"on\";\n    return msg;\n}\nelse if(msg.topic === \"master\" && msg.payload === false)\n{\n    msg.payload = \"master off\";\n    msg.topic = \"off\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["9203d351.43a54","daea7488.9e96a8","6b74ea9e.d6ff64"]]},{"id":"9203d351.43a54","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":200,"wires":[]},{"id":"bc4907f5.ec4208","type":"inject","z":"7eed2359.f51b6c","name":"Master on","topic":"master","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["da791ad7.e5e2b8"]]},{"id":"15dbdf16.243011","type":"debug","z":"7eed2359.f51b6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"5e58a903.14c598","type":"inject","z":"7eed2359.f51b6c","name":"test","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["da791ad7.e5e2b8"]]},{"id":"fcbdfd90.6805c","type":"inject","z":"7eed2359.f51b6c","name":"Master off","topic":"master","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["da791ad7.e5e2b8"]]},{"id":"593ad77b.d428a8","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":1300,"wires":[["ea89693b.a4c0d8","42777d3a.2f74d4"]]},{"id":"ebff965f.2e7608","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":2600,"wires":[["2fe337b7.65b968","9e2d6fd9.f09f2"]]},{"id":"23eb09c.e1199f6","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1360,"y":540,"wires":[["76542398.4fc20c"]]},{"id":"baff2eb6.ece9a","type":"comment","z":"7eed2359.f51b6c","name":"7Seg","info":"","x":1110,"y":840,"wires":[]},{"id":"e880c655.80c028","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Doppelpunkt","tooltip":"","group":"74707fa.495b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Doppelpunkt","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1350,"y":1120,"wires":[["6619b527.b680cc"]]},{"id":"75854ae.6560fb4","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Apostroph","tooltip":"","group":"74707fa.495b98","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Apostroph","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1350,"y":1200,"wires":[["b13c7a4c.2369c8"]]},{"id":"f2cfd63a.3b9678","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1380,"y":960,"wires":[["9bdb8655.419e98"]]},{"id":"6619b527.b680cc","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1120,"wires":[["e2ac3406.534fe8"]]},{"id":"b13c7a4c.2369c8","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1200,"wires":[["e2ac3406.534fe8"]]},{"id":"2b71c7.3af3ce3a","type":"inject","z":"7eed2359.f51b6c","name":"","topic":"number","payload":"111000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":900,"wires":[["f2cfd63a.3b9678"]]},{"id":"e6ce4162.1e91d","type":"inject","z":"7eed2359.f51b6c","name":"Apostroph","topic":"Apostroph","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":1200,"wires":[["75854ae.6560fb4"]]},{"id":"cf57e28f.1c45e","type":"inject","z":"7eed2359.f51b6c","name":"Doppelpunkt","topic":"Doppelpunkt","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":1120,"wires":[["e880c655.80c028"]]},{"id":"e2ac3406.534fe8","type":"function","z":"7eed2359.f51b6c","name":"sum","func":"var dp = context.get('dp') || 0;\nvar ap = context.get('ap') || 0;\nvar nb = context.get('nb') || 0;\nvar cm = context.get('cm') || 0;\n\nvar cmd = \"set.segment.\";\n\nif(msg.topic == \"Doppelpunkt\")\n{\n    if(msg.payload)\n    {\n        dp = 1;\n    }\n    else\n    {\n        dp = 0;\n    }\n    \n    context.set('dp',dp);\n}\n\nelse if(msg.topic == \"Komma\")\n{\n    cm = msg.payload;\n    \n    context.set('cm',cm);\n}\n\nelse if(msg.topic == \"Apostroph\")\n{\n    if(msg.payload)\n    {\n        ap = 1;\n    }\n    else\n    {\n        ap = 0;\n    }\n    \n    context.set('ap',ap);\n}\n\nelse if(msg.topic == \"number\")\n{\n    nb = msg.payload;\n    context.set('nb',nb);\n}\n\nelse if(msg.topic == \"SET\")\n{\n    cmd = cmd + nb + '.' + cm + '.' + dp + '.' + ap;\n    msg.payload = cmd;\n    return msg;\n}\n\n//return msg;\n//set.segment.9876.1.1.1","outputs":1,"noerr":0,"x":1890,"y":1080,"wires":[["9701933e.453c9","2b5244df.d12d9c"]]},{"id":"a7072e10.61c5b","type":"ui_button","z":"7eed2359.f51b6c","name":"","group":"74707fa.495b98","order":5,"width":0,"height":0,"passthru":false,"label":"SET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"SET","x":1110,"y":1340,"wires":[["b6bf03d7.809fc"]]},{"id":"b6bf03d7.809fc","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1280,"wires":[["e2ac3406.534fe8"]]},{"id":"9bdb8655.419e98","type":"range","z":"7eed2359.f51b6c","minin":"0","maxin":"10000","minout":"0","maxout":"10000","action":"clamp","round":true,"property":"payload","name":"","x":1580,"y":960,"wires":[["9370054c.5f1cf8"]]},{"id":"9701933e.453c9","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2110,"y":1020,"wires":[]},{"id":"de10f64b.f81dd8","type":"inject","z":"7eed2359.f51b6c","name":"SET","topic":"SET","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1280,"wires":[["b6bf03d7.809fc"]]},{"id":"9370054c.5f1cf8","type":"function","z":"7eed2359.f51b6c","name":"max 9999","func":"if(msg.payload == 10000)\n{\n    msg.payload -= 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":960,"wires":[["e2ac3406.534fe8"]]},{"id":"bb014ac2.c9e2e8","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:SLAVE","func":"if(global.get('master_on'))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1040,"wires":[["e2ac3406.534fe8"]]},{"id":"79008488.097b9c","type":"inject","z":"7eed2359.f51b6c","name":"Komma","topic":"Komma","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1040,"wires":[["d24f5999.fb9618"]]},{"id":"eb56796e.9fe948","type":"inject","z":"7eed2359.f51b6c","name":"get.led.1","topic":"SET","payload":"get.led.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":2060,"wires":[["e58873dc.9786b"]]},{"id":"8aa76272.9ff8d","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":2060,"wires":[]},{"id":"efeac427.682f58","type":"serial out","z":"7eed2359.f51b6c","name":"MySerialVTG400","serial":"73b6393f.9a3cf8","x":1810,"y":2120,"wires":[]},{"id":"e45c3588.de6258","type":"inject","z":"7eed2359.f51b6c","name":"get.rgb","topic":"","payload":"get.rgb","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1090,"y":2120,"wires":[["e58873dc.9786b"]]},{"id":"e58873dc.9786b","type":"function","z":"7eed2359.f51b6c","name":"buffer","func":"return msg;","outputs":1,"noerr":0,"x":1410,"y":2100,"wires":[["8aa76272.9ff8d","efeac427.682f58"]]},{"id":"d2f50876.ef9808","type":"inject","z":"7eed2359.f51b6c","name":"get.relay.1","topic":"SET","payload":"get.relay.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":2180,"wires":[["e58873dc.9786b"]]},{"id":"b66fc2cd.2662d","type":"inject","z":"7eed2359.f51b6c","name":"get.temp","topic":"SET","payload":"get.temp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":2240,"wires":[["e58873dc.9786b"]]},{"id":"2b5244df.d12d9c","type":"serial out","z":"7eed2359.f51b6c","name":"Serial Out","serial":"73b6393f.9a3cf8","x":2100,"y":1080,"wires":[]},{"id":"5a48bf72.922fd","type":"inject","z":"7eed2359.f51b6c","name":"send uart","topic":"SET","payload":"set.uart.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":2000,"wires":[["e58873dc.9786b"]]},{"id":"1143949e.fcb8db","type":"comment","z":"7eed2359.f51b6c","name":"Serial In","info":"","x":1120,"y":1420,"wires":[]},{"id":"f40c4d7a.8e954","type":"split","z":"7eed2359.f51b6c","name":"","splt":".","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1680,"y":1580,"wires":[["efcc942c.617b58","4e0f0b85.a36224"]]},{"id":"a33e3740.d0ce58","type":"function","z":"7eed2359.f51b6c","name":"remove ;","func":"if(msg.topic == \"temp\")\n{\n    var oldstg = msg.payload\n    var newstg = oldstg.slice(0, oldstg.length-1);\n    msg.payload = newstg;\n    return msg;\n}","outputs":1,"noerr":0,"x":2000,"y":1580,"wires":[["56100f6.d2668f"]]},{"id":"36c553e.717ffac","type":"debug","z":"7eed2359.f51b6c","name":"temp ready","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2410,"y":1480,"wires":[]},{"id":"ff954838.af40b8","type":"debug","z":"7eed2359.f51b6c","name":"after fuser","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2020,"y":1520,"wires":[]},{"id":"8fcb89c6.1b7c48","type":"debug","z":"7eed2359.f51b6c","name":"raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":1500,"wires":[]},{"id":"efcc942c.617b58","type":"debug","z":"7eed2359.f51b6c","name":"spliter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1850,"y":1520,"wires":[]},{"id":"6cb4883f.d80368","type":"function","z":"7eed2359.f51b6c","name":"get Button","func":"if(msg.payload === \"BUTTON1;\")\n{\n    global.set('button1',1);\n    msg.topic = \"b1\";\n    //msg.enabled = 1;\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload === \"BUTTON2;\")\n{\n    global.set('button2',1);\n    msg.topic = \"b2\";\n   // msg.enabled = 1;\n    msg.payload = true;\n    return msg;\n}\nelse if(msg.payload === \"BUTTON3;\")\n{\n    global.set('button3',1);\n    msg.topic = \"b3\";\n    //msg.enabled = 1;\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1290,"y":1740,"wires":[["62ada3bd.afd73c","5748fb21.c6d554"]]},{"id":"70aa9de.10f2564","type":"serial in","z":"7eed2359.f51b6c","name":"Serial In","serial":"73b6393f.9a3cf8","x":1120,"y":1740,"wires":[["6cb4883f.d80368"]]},{"id":"c7d7eb59.0c26d8","type":"comment","z":"7eed2359.f51b6c","name":"Button","info":"","x":1110,"y":1680,"wires":[]},{"id":"bed2a8fc.604198","type":"comment","z":"7eed2359.f51b6c","name":"Temp","info":"","x":1110,"y":1460,"wires":[]},{"id":"5b6973d5.18ca2c","type":"serial in","z":"7eed2359.f51b6c","name":"Serial In","serial":"73b6393f.9a3cf8","x":1520,"y":1580,"wires":[["f40c4d7a.8e954","8fcb89c6.1b7c48"]]},{"id":"a9fde7a4.f1fd68","type":"serial out","z":"7eed2359.f51b6c","name":"MySerialVTG400","serial":"73b6393f.9a3cf8","x":1330,"y":1580,"wires":[]},{"id":"c50274b5.44e598","type":"inject","z":"7eed2359.f51b6c","name":"get.temp","topic":"SET","payload":"get.temp","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":1580,"wires":[["83ca04b0.af8ed8","a9fde7a4.f1fd68"]]},{"id":"83ca04b0.af8ed8","type":"debug","z":"7eed2359.f51b6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":1520,"wires":[]},{"id":"824c25c2.240c08","type":"ui_text","z":"7eed2359.f51b6c","group":"6ddb96b9.ddb038","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload}} °C","layout":"col-center","x":2410,"y":1580,"wires":[]},{"id":"56100f6.d2668f","type":"function","z":"7eed2359.f51b6c","name":"to decimal","func":"var temp = msg.payload /100;\nmsg.payload = temp;\nreturn msg;\n","outputs":1,"noerr":0,"x":2170,"y":1580,"wires":[["36c553e.717ffac","824c25c2.240c08","a6d03d03.d5d8d","cc280b18.a0d788"]]},{"id":"a6d03d03.d5d8d","type":"ui_chart","z":"7eed2359.f51b6c","name":"","group":"6ddb96b9.ddb038","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO TEMP","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2390,"y":1540,"wires":[[]]},{"id":"5ca973cc.6fa87c","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Button 2","tooltip":"","group":"60e5f4de.9c4d5c","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2500,"y":1740,"wires":[[]]},{"id":"7981ab0c.8cdb54","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Button 3","tooltip":"","group":"60e5f4de.9c4d5c","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2500,"y":1800,"wires":[[]]},{"id":"62ada3bd.afd73c","type":"function","z":"7eed2359.f51b6c","name":"buffer","func":"return msg;","outputs":1,"noerr":0,"x":1910,"y":1740,"wires":[["6c1846e1.1f5398","84f23371.efe27","8d5935ec.5bc8a8","ba26c567.616748"]]},{"id":"5748fb21.c6d554","type":"delay","z":"7eed2359.f51b6c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1780,"wires":[["cca19575.1abd68"]]},{"id":"cca19575.1abd68","type":"function","z":"7eed2359.f51b6c","name":"buffer","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1780,"wires":[["62ada3bd.afd73c"]]},{"id":"6c1846e1.1f5398","type":"debug","z":"7eed2359.f51b6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2110,"y":1640,"wires":[]},{"id":"94fe97c9.17a508","type":"change","z":"7eed2359.f51b6c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1680,"wires":[["d209c0d7.f0512"]]},{"id":"341f5597.e711ca","type":"change","z":"7eed2359.f51b6c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1740,"wires":[["5ca973cc.6fa87c"]]},{"id":"75a7950.707c56c","type":"change","z":"7eed2359.f51b6c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1800,"wires":[["7981ab0c.8cdb54"]]},{"id":"84f23371.efe27","type":"function","z":"7eed2359.f51b6c","name":"if Button 1","func":"if(msg.topic == \"b1\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":2100,"y":1680,"wires":[["94fe97c9.17a508"]]},{"id":"8d5935ec.5bc8a8","type":"function","z":"7eed2359.f51b6c","name":"if Button 2","func":"if(msg.topic == \"b2\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":2100,"y":1740,"wires":[["341f5597.e711ca"]]},{"id":"ba26c567.616748","type":"function","z":"7eed2359.f51b6c","name":"if Button 3","func":"if(msg.topic == \"b3\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":2100,"y":1800,"wires":[["75a7950.707c56c"]]},{"id":"4e0f0b85.a36224","type":"function","z":"7eed2359.f51b6c","name":"fuser","func":"var first = context.get('first') || 0;\n\nvar f_string = context.get('f_string') || 0;\nvar s_string = context.get('s_string') || 0;\n\nif(first === 0 && (msg.payload == \"temp\" || msg.payload == \"\u0001emp\"))\n{\n    context.set('f_string',msg.payload);\n    context.set('first',1);\n}\nelse if(first === 1)\n{\n    msg.topic = \"temp\"\n    context.set('first',0);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1850,"y":1580,"wires":[["a33e3740.d0ce58","ff954838.af40b8"]]},{"id":"daea7488.9e96a8","type":"function","z":"7eed2359.f51b6c","name":"if Button 1","func":"if(msg.topic == \"on\")\n{\n    msg.payload = \"\";\n    msg.enabled = 1;\n    return msg;\n}\nelse if(msg.topic == \"off\")\n{\n    msg.payload = \"\";\n    msg.enabled = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":260,"wires":[["c912131f.09d3"]]},{"id":"c912131f.09d3","type":"link out","z":"7eed2359.f51b6c","name":"master_to_button","links":["9dfe409b.39a66","f734a356.eae4f","17c17e25.4c5032","4b84ff9f.21943","4e778b8e.aad374","cac5bac1.b16e08","424ed0bf.ca44","e83526b6.3fd1d8","f5fdb1bb.57383","f1f475e4.0df4b8","bf7e1f91.224f2","18e71aad.c1c845","296df91e.bff1d6","f2c66386.a66b9","9470d0a0.21df","381b7cbe.23de34","ea2c5b5a.41f668","9bcdc9ab.26c158","58f5cc52.cfd714"],"x":895,"y":260,"wires":[]},{"id":"9dfe409b.39a66","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":975,"y":260,"wires":[[]]},{"id":"f5fdb1bb.57383","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":2520,"wires":[["cebdcaf7.054708"]]},{"id":"e83526b6.3fd1d8","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":2380,"wires":[["fb5b71f3.87736"]]},{"id":"424ed0bf.ca44","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":2240,"wires":[["6a84ec50.557474"]]},{"id":"cac5bac1.b16e08","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":2100,"wires":[["186edcb4.93d853"]]},{"id":"4e778b8e.aad374","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":1960,"wires":[["5535eae5.a84124"]]},{"id":"4b84ff9f.21943","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":1820,"wires":[["148d3504.2e509b"]]},{"id":"17c17e25.4c5032","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":1680,"wires":[["33c677d0.700b38"]]},{"id":"f734a356.eae4f","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":175,"y":1540,"wires":[["e646d091.983db"]]},{"id":"6b74ea9e.d6ff64","type":"function","z":"7eed2359.f51b6c","name":"MASTER_SWITCH:MASTER SET","func":"if(msg.topic === \"on\")\n{\n    global.set('master_on',1);\n}\nelse if(msg.topic === \"off\")\n{\n    global.set('master_on',0);\n}\n","outputs":1,"noerr":0,"x":840,"y":140,"wires":[[]]},{"id":"f1f475e4.0df4b8","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":1220,"wires":[["d2bd02c3.b5f9d"]]},{"id":"bf7e1f91.224f2","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":1080,"wires":[["80e5eb71.a2da58"]]},{"id":"18e71aad.c1c845","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":940,"wires":[["339ceb41.d6bd24"]]},{"id":"296df91e.bff1d6","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":800,"wires":[["be8fc22.66a2c4"]]},{"id":"f2c66386.a66b9","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":660,"wires":[["98f173e8.2c591"]]},{"id":"9470d0a0.21df","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":195,"y":520,"wires":[["296c1287.c5269e"]]},{"id":"381b7cbe.23de34","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":1015,"y":1160,"wires":[["e880c655.80c028","75854ae.6560fb4","a7072e10.61c5b"]]},{"id":"ea2c5b5a.41f668","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":1015,"y":540,"wires":[["9fe2598.23236a8"]]},{"id":"9bcdc9ab.26c158","type":"link in","z":"7eed2359.f51b6c","name":"","links":["c912131f.09d3"],"x":2355,"y":1620,"wires":[["5ca973cc.6fa87c","7981ab0c.8cdb54","d209c0d7.f0512"]]},{"id":"90c567ca.b97828","type":"ui_text_input","z":"7eed2359.f51b6c","name":"","label":"Number input","tooltip":"","group":"74707fa.495b98","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"number","x":1140,"y":960,"wires":[["f2cfd63a.3b9678"]]},{"id":"d24f5999.fb9618","type":"ui_slider","z":"7eed2359.f51b6c","name":"","label":"Komma Position","tooltip":"","group":"74707fa.495b98","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"Komma","min":0,"max":"4","step":1,"x":1360,"y":1040,"wires":[["bb014ac2.c9e2e8"]]},{"id":"d209c0d7.f0512","type":"ui_switch","z":"7eed2359.f51b6c","name":"","label":"Button 1","tooltip":"","group":"60e5f4de.9c4d5c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2500,"y":1680,"wires":[[]]},{"id":"68590748.fd93d8","type":"serial in","z":"7eed2359.f51b6c","name":"Serial In","serial":"73b6393f.9a3cf8","x":1100,"y":1880,"wires":[["35699517.6f187a"]]},{"id":"35699517.6f187a","type":"debug","z":"7eed2359.f51b6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":1880,"wires":[]},{"id":"cc280b18.a0d788","type":"function","z":"7eed2359.f51b6c","name":"save to var","func":"global.set('temp',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":2410,"y":1420,"wires":[[]]},{"id":"3db9760b.537d9a","type":"inject","z":"7eed2359.f51b6c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":420,"wires":[["eafcdb0d.930388"]]},{"id":"eafcdb0d.930388","type":"change","z":"7eed2359.f51b6c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":480,"wires":[["9fe2598.23236a8"]]},{"id":"9fe2598.23236a8","type":"ui_colour_picker","z":"7eed2359.f51b6c","name":"","label":"","group":"7339ac63.ca71d4","format":"hsl","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"false","order":4,"width":"4","height":"4","passthru":false,"topic":"","x":1130,"y":540,"wires":[["23eb09c.e1199f6"]]},{"id":"d7ed0ba7.d12438","type":"ui_group","z":"","name":"Relays","tab":"8a55c417.a5c188","order":2,"disp":true,"width":"6","collapse":true},{"id":"73b6393f.9a3cf8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":";","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"d3cd7b85.86b8a8","type":"ui_group","z":"","name":"LEDs","tab":"8a55c417.a5c188","order":3,"disp":true,"width":"6","collapse":true},{"id":"7702311e.7fa0b","type":"ui_group","z":"","name":"TURN ON CONTROL","tab":"8a55c417.a5c188","order":1,"disp":true,"width":"6","collapse":false},{"id":"74707fa.495b98","type":"ui_group","z":"","name":"7-Segment","tab":"8a55c417.a5c188","order":5,"disp":true,"width":"6","collapse":false},{"id":"6ddb96b9.ddb038","type":"ui_group","z":"","name":"Temperatur","tab":"8a55c417.a5c188","order":6,"disp":true,"width":"6","collapse":false},{"id":"60e5f4de.9c4d5c","type":"ui_group","z":"","name":"Button Inputs","tab":"8a55c417.a5c188","order":7,"disp":true,"width":"6","collapse":false},{"id":"7339ac63.ca71d4","type":"ui_group","z":"","name":"RGB LED","tab":"8a55c417.a5c188","order":4,"disp":true,"width":"6","collapse":true},{"id":"8a55c417.a5c188","type":"ui_tab","z":"","name":"Control panel","icon":"fa-podcast","order":1,"disabled":false,"hidden":false}]