Node-Red/Flows/Klimaanlage.json
[{"id":"2511cd39.64c392","type":"tab","label":"Klimaanlage","disabled":false,"info":""},{"id":"dd1f9cd9.9e147","type":"ui_switch","z":"2511cd39.64c392","name":"","label":"","tooltip":"","group":"76497e1f.7b265","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"master","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":300,"wires":[["ef480d24.b13b8"]]},{"id":"287f94c.9c5516c","type":"ui_text","z":"2511cd39.64c392","group":"78447e90.f03f","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload}} °C","layout":"col-center","x":1030,"y":440,"wires":[]},{"id":"1f0eb1e3.40c50e","type":"ui_chart","z":"2511cd39.64c392","name":"","group":"78447e90.f03f","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO TEMP","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":400,"wires":[[]]},{"id":"d5a5e84c.464648","type":"function","z":"2511cd39.64c392","name":"get temp","func":"msg.payload = global.get('temp') || 0;\nmsg.topic = \"temp\";\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["1f0eb1e3.40c50e","287f94c.9c5516c","4233cdb9.c51324","6a31d77f.7ab688","fea3c140.c1cd6"]]},{"id":"ef480d24.b13b8","type":"function","z":"2511cd39.64c392","name":"switch","func":"var state = context.get('state') || 0;\n\nif(msg.topic == \"master\")\n{\n    context.set('state', msg.payload);\n}\nelse if(msg.topic == \"clock\")\n{\n    if(state == 1)\n    {\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["d5a5e84c.464648","23f5046b.77fecc"]]},{"id":"d0a9d880.932318","type":"inject","z":"2511cd39.64c392","name":"clock","topic":"clock","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":440,"wires":[["ef480d24.b13b8"]]},{"id":"4233cdb9.c51324","type":"debug","z":"2511cd39.64c392","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":320,"wires":[]},{"id":"23f5046b.77fecc","type":"debug","z":"2511cd39.64c392","name":"switch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":300,"wires":[]},{"id":"6a31d77f.7ab688","type":"function","z":"2511cd39.64c392","name":"if temp above 24","func":"if(msg.payload > 24.00)\n{\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[["e8829dc7.3dc34","73d13eb3.05bbe"]]},{"id":"e8829dc7.3dc34","type":"function","z":"2511cd39.64c392","name":"relay on","func":"msg.payload = \"set.relay.1.1\";\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":500,"wires":[["90e2b6d1.0d0c08"]]},{"id":"fea3c140.c1cd6","type":"function","z":"2511cd39.64c392","name":"if temp below 23","func":"if(msg.payload < 23.00)\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":540,"wires":[["43b5f056.bbce2","73d13eb3.05bbe"]]},{"id":"43b5f056.bbce2","type":"function","z":"2511cd39.64c392","name":"relay off","func":"msg.payload = \"set.relay.1.0\";\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":540,"wires":[["90e2b6d1.0d0c08"]]},{"id":"90e2b6d1.0d0c08","type":"serial out","z":"2511cd39.64c392","name":"Serial out","serial":"73b6393f.9a3cf8","x":1430,"y":540,"wires":[]},{"id":"73d13eb3.05bbe","type":"change","z":"2511cd39.64c392","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":640,"wires":[["98ee4f03.eee54"]]},{"id":"98ee4f03.eee54","type":"ui_switch","z":"2511cd39.64c392","name":"","label":"Status","tooltip":"","group":"a7112cd0.19b5f","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":640,"wires":[[]]},{"id":"76497e1f.7b265","type":"ui_group","z":"","name":"Hauptschalter","tab":"5d716f9.510079","disp":true,"width":"6","collapse":false},{"id":"78447e90.f03f","type":"ui_group","z":"","name":"Temperatur","tab":"5d716f9.510079","disp":true,"width":"6","collapse":false},{"id":"73b6393f.9a3cf8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":";","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"a7112cd0.19b5f","type":"ui_group","z":"","name":"Lüfter","tab":"5d716f9.510079","disp":true,"width":"6","collapse":false},{"id":"5d716f9.510079","type":"ui_tab","z":"","name":"Klimaanlage","icon":"fa-thermometer-half","disabled":false,"hidden":false}]