Node-Red/Flows/LED-Streifen.json
[{"id":"2193bddd.a4bde2","type":"tab","label":"LED-Streifen","disabled":false,"info":""},{"id":"c1383253.70d12","type":"ui_text","z":"2193bddd.a4bde2","group":"1ebc16b1.133459","order":1,"width":0,"height":0,"name":"","label":"Aktive Szene","format":"{{msg.payload}}","layout":"col-center","x":530,"y":80,"wires":[]},{"id":"c91c3a2.2292cc8","type":"function","z":"2193bddd.a4bde2","name":"Szene Namen","func":"if(msg.payload === 0)\n{\n    msg.payload = \"Aus\";\n    return msg;\n}\nif(msg.payload == 1)\n{\n    msg.payload = \"Lauflicht\";\n    return msg;\n}\nif(msg.payload == 2)\n{\n    msg.payload = \"Rainbow\";\n    return msg;\n}\nif(msg.payload == 3)\n{\n    msg.payload = \"Füllender Balken\";\n    return msg;\n}\nif(msg.payload == 4)\n{\n    msg.payload = \"Weiss\";\n    return msg;\n}","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["c1383253.70d12"]]},{"id":"9d5105d5.10d2e8","type":"function","z":"2193bddd.a4bde2","name":"Szene CMD","func":"msg.payload = \"set.uart.\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["7cf97260.4eb95c","268db18f.24dfde"]]},{"id":"7cf97260.4eb95c","type":"debug","z":"2193bddd.a4bde2","name":"Szene nummer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":220,"wires":[]},{"id":"268db18f.24dfde","type":"serial out","z":"2193bddd.a4bde2","name":"Serial out","serial":"73b6393f.9a3cf8","x":520,"y":160,"wires":[]},{"id":"70531b58.d5a1f4","type":"ui_slider","z":"2193bddd.a4bde2","name":"","label":"","tooltip":"","group":"1ebc16b1.133459","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"4","step":1,"x":110,"y":80,"wires":[["c91c3a2.2292cc8","9d5105d5.10d2e8"]]},{"id":"1ebc16b1.133459","type":"ui_group","z":"","name":"Szene","tab":"745a4703.fa8a68","disp":true,"width":"6","collapse":false},{"id":"73b6393f.9a3cf8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":";","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"745a4703.fa8a68","type":"ui_tab","z":"","name":"LED-Streifen","icon":"fa-lightbulb-o","disabled":false,"hidden":false}]